<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/others.css">
    <title>Cozom - Body Image Toggle</title>
</head>
<body>
    <div class="body-map-container">
        <img id="bodyMapImage" src="assets/front-f.webp" alt="Body Map Image">
    </div>
    <button class="toggle-direction" onclick="toggleImage()">↕</button>

    <script src="js/others.js"></script>
</body>
</html>
