<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Updated CSS files -->
    <link rel="stylesheet" href="static/CSS/symptom.css">
    <link rel="stylesheet" href="static/CSS/others.css">
    <title>Cozom - Symptom Details</title>
</head>
<body>
    <div class="symptom-container">
        <span id="symptomName">Symptom: </span>
        <button id="removeSymptomButton">Remove Symptom</button>
    </div>

    <!-- Updated JS files -->
    <script src="static/js/symptom.js"></script>
    <script src="static/js/helpers.js"></script>
</body>
</html>
